# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.movie-comparer.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\movie-comparer\.idea\.idea.movie-comparer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
